<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/etuition</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">panditji6228</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.show_sql">true</property>
		<mapping resource="faculty.hbm.xml"></mapping>
		<mapping resource="student.hbm.xml"></mapping>
		<mapping resource="question.hbm.xml"></mapping>
		<mapping resource="course.hbm.xml"></mapping>
		<mapping resource="mail.hbm.xml"></mapping>
		<mapping resource="study.hbm.xml"></mapping>
		<mapping resource="query.hbm.xml"></mapping>
	</session-factory>

</hibernate-configuration>