<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>E-tution1</display-name>
  <welcome-file-list>
    <welcome-file>etution.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.action.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register1</servlet-name>
    <url-pattern>/register1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register1</servlet-name>
    <servlet-class>com.action.Register1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpass</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Newpass</servlet-name>
    <servlet-class>com.action.Newpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpass1</servlet-name>
    <url-pattern>/newpass1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Newpass1</servlet-name>
    <servlet-class>com.action.Newpass1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpass2</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Newpass2</servlet-name>
    <servlet-class>com.action.Newpass2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.action.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestion</servlet-name>
    <url-pattern>/addQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQuestion</servlet-name>
    <servlet-class>com.action.AddQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ufaculty</servlet-name>
    <url-pattern>/updateF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ufaculty</servlet-name>
    <servlet-class>com.action.Ufaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaculyAssign</servlet-name>
    <url-pattern>/faculyAssign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaculyAssign</servlet-name>
    <servlet-class>com.action.FaculyAssign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.action.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControl</servlet-name>
    <url-pattern>/adminControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminControl</servlet-name>
    <servlet-class>com.action.AdminControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControl1</servlet-name>
    <url-pattern>/adminControl1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminControl1</servlet-name>
    <servlet-class>com.action.AdminControl1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>com.action.Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContectUs</servlet-name>
    <url-pattern>/contectUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContectUs</servlet-name>
    <servlet-class>com.action.ContectUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.action.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizSubjectSet</servlet-name>
    <url-pattern>/quizSubjectSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuizSubjectSet</servlet-name>
    <servlet-class>com.action.QuizSubjectSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileupload</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fileupload</servlet-name>
    <servlet-class>com.action.Fileupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Course</servlet-name>
    <url-pattern>/course</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Course</servlet-name>
    <servlet-class>com.action.Course</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Replay</servlet-name>
    <url-pattern>/replay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Replay</servlet-name>
    <servlet-class>com.action.Replay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoBlock</servlet-name>
    <url-pattern>/blockUnblock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VideoBlock</servlet-name>
    <servlet-class>com.action.VideoBlock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Replay1</servlet-name>
    <url-pattern>/replay1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Replay1</servlet-name>
    <servlet-class>com.action.Replay1</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>Query1</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query1</servlet-name>
    <servlet-class>com.action.Query1</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Query12</servlet-name>
    <url-pattern>/query12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Query12</servlet-name>
    <servlet-class>com.action.Query12</servlet-class>
  </servlet>
  
  
  
  
  
  
</web-app>